/*-------------------------------------- General-Setup ---------------------------------*/

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/*----------------------------------- Header & Navigation ------------------------------*/
header {
    width: 98%;
    display: grid;
    grid-template: 5.3125rem / repeat(20 , 5%);
    justify-content: space-between; 
    align-items: center;
    background-color: white;
    position: relative;
    border-bottom: 2px solid black;
    padding: 0 1%;
    z-index: 1;
}

header h2 {
    font-family: 'Nabla', serif;
    text-align: left;
    grid-area: 1 / 1 / 2 / span 3 ;
    font-size: 2.9rem;
    font-size: 2.2vw;
    margin: 0 0;

}

header nav {
    grid-area: 1 / 16 / 2 / span 7;
    text-align: left;
    align-items: center;
    
}

header nav a {
    text-decoration: none;
    padding-left: 1.4rem;
    font-family: 'Dosis', serif;
    font-weight: 400;
    font-size: 1rem;
    font-size: 1.1vw;
    color: black;
   
}

/*-------------------------------- Club-Info (1st container) ---------------------------*/

#background {
    width: 100%;
    height: 40rem;
    background-color: gray;
    opacity: 0.5;
    position: absolute;

    z-index: -1;
}

#Club-Info {
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    position: relative;
    z-index: 0;
}

#Club-Info .container {
    grid-area: 1 / 2 / span 20 / span 18;
    background-image: url(../Images/wallpaper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}


#Club-Info .background {
    grid-area: 3 / 1 / span 6 / span 20;
    background-color: gray;
    opacity: 0.6;
    border: 1px solid white;
    border-radius: 10px;
}

#Club-Info .title {
    height: auto;
    grid-area: 3 / 1 / span 6 / span 20;
    display: grid   ;
    align-items: center;
    justify-items: center;
}

#Club-Info .title h1 {
    font-size: 6rem;
    font-size: 6vw;
    font-family: 'Satisfy', serif;
    text-align: center;
    color: white;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#Club-Info .banner-text {
    grid-area: 10 / 4 / span 5 / span 8;
    justify-content: center;
    align-items: center;
}

#Club-Info .banner-text ul li {
    list-style-type: square;
}

#Club-Info .banner-text ul li::marker {
    color: white;
    font-size: 1.5rem;
}


#Club-Info .banner-text ul li h3 {
    font-family: 'Dosis', serif;
    color: white;
    font-size: 1vw;
}

#Club-Info .description {
    grid-area: 10 / 15 / span 5 / span 7;
    justify-content: center;
    align-items: center;
}

#Club-Info .description ul li {
    list-style-type: square;
}

#Club-Info .description ul li::marker {
    color: white;
    font-size: 1.5rem;
}


#Club-Info .description ul li h3 {
    font-family: 'Dosis', serif;
    color: white;
    font-size: 1vw;
}

/*-------------------------------------- Times & Address -------------------------------*/

#Times {
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
    background-image: url(../Images/bonsaiwallpaper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
}

#Times .background {
    grid-area: 2 / 1 / span 18 / span 20;
    background-color: black;
    position: relative;
    z-index: 1;
    opacity: 0;
    border-radius: 10px;

}

#Times .image1 {
    grid-area: 3 / 4 / span 9 / span 3;
    position: relative;
    z-index: 2;
   
}

#Times .image2 {
    grid-area: 3 / 10 / span 9 / span 3;
    position: relative;
    z-index: 2;

}

#Times .image3 {
    grid-area: 3 / 16 / span 9 / span 3;
    position: relative;
    z-index: 2;

}

#Times .image1 img, #Times .image2 img, #Times .image3 img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#Times .time {
    grid-area: 14 / 3 / span 4 / span 7;
    position: relative;
    z-index: 2;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#Times .time h2, #Times .Address h2 {
    font-family: 'Abril Fatface', serif;
    color: white;
    font-size: 1.75rem;
    font-size: 1.5vw;
}

#Times .Address {
    grid-area: 14 / 12 / span 4 / span 7;
    position: relative;
    z-index: 2;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

#Times .Address h2 {
    word-spacing: 0.6rem;
}

/*------------------------------- Phone & Email --------------------------*/

#Phone {
    width: 100%;
    height: 10rem;
    background-color: skyblue;
    display: grid;
    grid-template: repeat(20, 5%) / repeat(20, 5%);
}

#Phone .Phone {
    grid-area: 10 / 3 / span 2 / span 4;
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

#Phone .Email {
    grid-area: 10 / 14 / span 2 / span 6;
    position: relative;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

#Phone .Phone h2, #Phone .Email h2, #Phone .Email h3 {
    font-family: 'Abril Fatface', serif;
    font-size: 1.75rem;
    font-size: 1.5vw;
    color: sandybrown;
}

#Phone .Email h3 {
    text-decoration: underline;
}

/*---------------------------------- Footer -----------------------------*/

footer {
    width: 96%;
    height: 5rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

footer h4 {
    font-family: 'Dosis', serif;
    font-size: 1rem;
    font-size: 1vw;
}